body {
    --color-background: #141414;
    --color-background-dark: #121212;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #5c67c2;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-font: #e8e8e8;
    --border-radius: 4px;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--color-background-dark);
    color: var(--color-font);
    font: 1rem 'Montserrat';
}

.container {
    width: 500px;
    max-width: 500px;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.products {
    width: 500px;
    max-width: 500px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

.product {
    display: inline-block;
    text-align: center;
    margin: 2rem;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 0 0 40px rgba(10, 10, 10, 0.2);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    background-color: var(--color-background);
}

.product__name {
    font-size: 2rem;
}

.product__price {
    font-size: 0.85rem;
}

.product__discount {
    display: inline-block;
    width: 50%;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
}

.product__image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.form__button {
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;

    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    transition: background 0.2s, border-color 0.2s;
}

.form__button:hover {
    transition: background 0.2s, border-color 0.2s;
    background: var(--color-primary-dark);
    -webkit-transition: background 0.2s, border-color 0.2s;
    -moz-transition: background 0.2s, border-color 0.2s;
    -ms-transition: background 0.2s, border-color 0.2s;
    -o-transition: background 0.2s, border-color 0.2s;
}

.form__button:active {
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}