body {
    --color-background: #141414;
    --color-background-dark: #121212;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #5c67c2;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --color-font: #e8e8e8;
    --border-radius: 4px;

    margin: 1rem;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: var(--color-background-dark);
    color: var(--color-font);
    font: 500 1rem 'Montserrat';
}

.container {
    width: 500px;
    max-width: 500px;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.products {
    width: 500px;
    max-width: 500px;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}

.product {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 40px rgba(10, 10, 10, 0.2);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    background-color: var(--color-background);
}

.product__name {
    font-size: 2rem;
}

.product__price {
    font-size: 0.85rem;
}

.product__discount {
    margin: 0 6rem;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    color: var(--color-background);
}